In [150]:
import pandas as pd
import numpy as np

In [151]:
df = pd.read_csv('colsum.csv')

In [152]:
print(df)

       Unnamed: 0     모델번호     발매가  브랜드  라인  콜라보       검색량  month  day  \
0               0   M992GR  259000    3  21    0  2.072390      4    0
1               1   M992GR  259000    3  21    0  1.961860      4    1
2               2   M992GR  259000    3  21    0  1.975680      4    2
3               3   M992GR  259000    3  21    0  1.878970      4    3
4               4   M992GR  259000    3  21    0  1.782260      4    4
...           ...      ...     ...  ...  ..  ...       ...    ...  ...
43948       43948  171838C  209000    5  28   40  0.165783     10   88
43949       43949  171838C  209000    5  28   40  0.165783     10   89
43950       43950  171838C  209000    5  28   40  0.165783     10   90
43951       43951  171838C  209000    5  28   40  0.165783     10   91
43952       43952  171838C  209000    5  28   40  0.165783     10   92

       리셀가능여부  color_num  col1 col2 col3 col4 col5
0         1.0          1  GREY  NaN  NaN  NaN  NaN
1         1.0          1  GREY  NaN  NaN  NaN  NaN
2         1.0          1  GREY  NaN  NaN  NaN  NaN
3         1.0          1  GREY  NaN  NaN  NaN  NaN
4         1.0          1  GREY  NaN  NaN  NaN  NaN
...       ...        ...   ...  ...  ...  ...  ...
43948     0.0          1  GREY  NaN  NaN  NaN  NaN
43949     0.0          1  GREY  NaN  NaN  NaN  NaN
43950     0.0          1  GREY  NaN  NaN  NaN  NaN
43951     0.0          1  GREY  NaN  NaN  NaN  NaN
43952     0.0          1  GREY  NaN  NaN  NaN  NaN

[43953 rows x 16 columns]

In [153]:
df['col1'] = df['col1'].fillna(0)
df['col2'] = df['col2'].fillna(0)
df['col3'] = df['col3'].fillna(0)
df['col4'] = df['col4'].fillna(0)
df['col5'] = df['col5'].fillna(0)

In [154]:
df['col1']  = np.where(df['col1'] == 'PINK', 1, df['col1'])
df['col2']  = np.where(df['col2'] == 'PINK', 1, df['col2'])
df['col3']  = np.where(df['col3'] == 'PINK', 1, df['col3'])
df['col4']  = np.where(df['col4'] == 'PINK', 1, df['col4'])
df['col5']  = np.where(df['col5'] == 'PINK', 1, df['col5'])

In [155]:
df['col1']  = np.where(df['col1'] == 'DUSTY PINK', 1, df['col1'])
df['col2']  = np.where(df['col2'] == 'DUSTY PINK', 1, df['col2'])
df['col3']  = np.where(df['col3'] == 'DUSTY PINK', 1, df['col3'])
df['col4']  = np.where(df['col4'] == 'DUSTY PINK', 1, df['col4'])
df['col5']  = np.where(df['col5'] == 'DUSTY PINK', 1, df['col5'])

In [156]:
df['col1']  = np.where(df['col1'] == 'DESERT BERRY', 1, df['col1'])
df['col2']  = np.where(df['col2'] == 'DESERT BERRY', 1, df['col2'])
df['col3']  = np.where(df['col3'] == 'DESERT BERRY', 1, df['col3'])
df['col4']  = np.where(df['col4'] == 'DESERT BERRY', 1, df['col4'])
df['col5']  = np.where(df['col5'] == 'DESERT BERRY', 1, df['col5'])

In [157]:
df['col1']  = np.where(df['col1'] == 'RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'RED', 2, df['col5'])

In [158]:
df['col1']  = np.where(df['col1'] == 'BARELY ROSE', 1, df['col1'])
df['col2']  = np.where(df['col2'] == 'BARELY ROSE', 1, df['col2'])
df['col3']  = np.where(df['col3'] == 'BARELY ROSE', 1, df['col3'])
df['col4']  = np.where(df['col4'] == 'BARELY ROSE', 1, df['col4'])
df['col5']  = np.where(df['col5'] == 'BARELY ROSE', 1, df['col5'])

In [159]:
df['col1']  = np.where(df['col1'] == 'CHILE RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'CHILE RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'CHILE RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'CHILE RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'CHILE RED', 2, df['col5'])

In [160]:
df['col1']  = np.where(df['col1'] == 'VARSITY RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'VARSITY RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'VARSITY RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'VARSITY RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'VARSITY RED', 2, df['col5'])

In [161]:
df['col1']  = np.where(df['col1'] == 'LIGHT FUSION RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'LIGHT FUSION RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'LIGHT FUSION RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'LIGHT FUSION RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'LIGHT FUSION RED', 2, df['col5'])

In [162]:
df['col1']  = np.where(df['col1'] == 'GYM RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'GYM RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'GYM RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'GYM RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'GYM RED', 2, df['col5'])

In [163]:
df['col1']  = np.where(df['col1'] == 'INFRARED 23', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'INFRARED 23', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'INFRARED 23', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'INFRARED 23', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'INFRARED 23', 2, df['col5'])

In [164]:
df['col1']  = np.where(df['col1'] == 'TRUE RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'TRUE RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'TRUE RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'TRUE RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'TRUE RED', 2, df['col5'])

In [165]:
df['col1']  = np.where(df['col1'] == 'GHOST PEPPER', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'GHOST PEPPER', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'GHOST PEPPER', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'GHOST PEPPER', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'GHOST PEPPER', 2, df['col5'])

In [166]:
df['col1']  = np.where(df['col1'] == 'TEAM RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'TEAM RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'TEAM RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'TEAM RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'TEAM RED', 2, df['col5'])

In [167]:
df['col1']  = np.where(df['col1'] == 'CARDINAL RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'CARDINAL RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'CARDINAL RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'CARDINAL RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'CARDINAL RED', 2, df['col5'])

In [168]:
df['col1']  = np.where(df['col1'] == 'SAMBA', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'SAMBA', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'SAMBA', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'SAMBA', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'SAMBA', 2, df['col5'])

In [169]:
df['col1']  = np.where(df['col1'] == 'UNIVERSITY RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'UNIVERSITY RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'UNIVERSITY RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'UNIVERSITY RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'UNIVERSITY RED', 2, df['col5'])

In [170]:
df['col1']  = np.where(df['col1'] == 'DEEP RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'DEEP RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'DEEP RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'DEEP RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'DEEP RED', 2, df['col5'])

In [171]:
df['col1']  = np.where(df['col1'] == 'TOUGH RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'TOUGH RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'TOUGH RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'TOUGH RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'TOUGH RED', 2, df['col5'])

In [172]:
df['col1']  = np.where(df['col1'] == 'CRIMSON', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'CRIMSON', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'CRIMSON', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'CRIMSON', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'CRIMSON', 2, df['col5'])

In [173]:
df['col1']  = np.where(df['col1'] == 'COMET', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'COMET', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'COMET', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'COMET', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'COMET', 2, df['col5'])

In [174]:
df['col1']  = np.where(df['col1'] == 'CHALLENGE RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'CHALLENGE RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'CHALLENGE RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'CHALLENGE RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'CHALLENGE RED', 2, df['col5'])

In [175]:
df['col1']  = np.where(df['col1'] == 'CEDAR', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'CEDAR', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'CEDAR', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'CEDAR', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'CEDAR', 2, df['col5'])

In [176]:
df['col1']  = np.where(df['col1'] == 'TRACK RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'TRACK RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'TRACK RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'TRACK RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'TRACK RED', 2, df['col5'])

In [177]:
df['col1']  = np.where(df['col1'] == 'SOLAR RED', 2, df['col1'])
df['col2']  = np.where(df['col2'] == 'SOLAR RED', 2, df['col2'])
df['col3']  = np.where(df['col3'] == 'SOLAR RED', 2, df['col3'])
df['col4']  = np.where(df['col4'] == 'SOLAR RED', 2, df['col4'])
df['col5']  = np.where(df['col5'] == 'SOLAR RED', 2, df['col5'])

In [178]:
white = ["WHITE", "OFF WHITE", "PEARL WHITE", "MUNSELL WHITE", "SUMMIT WHITE", "CLOUD WHITE", "CALGLO", "LILLY WHITE", "FTWR WHITE"]

In [179]:
for i in white:
    df['col1']  = np.where(df['col1'] == i, 3, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 3, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 3, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 3, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 3, df['col5'])

In [83]:
df.to_csv('ok01.csv', encoding = "utf-8-sig")

In [180]:
green = ["LUCKY GREEN", "NOBLE GREEN", "GREEN", "OLIVE GREEN", "OAK LEAF GREEN", "TEAL", "OLIVE", "MOSSY GREEN", "DARK GREEN", "CELADON", "GREEN NOISE", "GREEN GLOW", "CARBON GREEN", "DUTCH GREEN", "BARELY GREEN", "NEPTUNE GREEN", "SILVER PINE", "JADE AURA", "GREEN CAMO", "PIQUANT GREEN", "CARGO KHAKI", "COVERT GREEN", "HEALING JADE" ]

In [181]:
for i in green:
    df['col1']  = np.where(df['col1'] == i, 4, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 4, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 4, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 4, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 4, df['col5'])

In [182]:
black = ["BLACK", "ANTHRACITE", "CORE BLACK", "DARK SLATE", "MX ROCK", "ASRIEL", "ALVAH"]

In [183]:
for i in black:
    df['col1']  = np.where(df['col1'] == i, 5, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 5, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 5, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 5, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 5, df['col5'])

In [184]:
yellow = ["OPTI YELLOW", "POLLEN", "TOUR YELLOW", "YELLOW", "SAVANNAH", "VARSITY MAIZE", "LEMON WASH", "LEMON DROP", "OPTIC", "SPEED YELLOW", "POLLEN RISE", "LEMON ICING", "TENDER YELLOW"]

In [185]:
for i in yellow:
    df['col1']  = np.where(df['col1'] == i, 6, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 6, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 6, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 6, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 6, df['col5'])

In [186]:
print(df)

       Unnamed: 0     모델번호     발매가  브랜드  라인  콜라보       검색량  month  day  \
0               0   M992GR  259000    3  21    0  2.072390      4    0
1               1   M992GR  259000    3  21    0  1.961860      4    1
2               2   M992GR  259000    3  21    0  1.975680      4    2
3               3   M992GR  259000    3  21    0  1.878970      4    3
4               4   M992GR  259000    3  21    0  1.782260      4    4
...           ...      ...     ...  ...  ..  ...       ...    ...  ...
43948       43948  171838C  209000    5  28   40  0.165783     10   88
43949       43949  171838C  209000    5  28   40  0.165783     10   89
43950       43950  171838C  209000    5  28   40  0.165783     10   90
43951       43951  171838C  209000    5  28   40  0.165783     10   91
43952       43952  171838C  209000    5  28   40  0.165783     10   92

       리셀가능여부  color_num  col1 col2 col3 col4 col5
0         1.0          1  GREY    0    0    0    0
1         1.0          1  GREY    0    0    0    0
2         1.0          1  GREY    0    0    0    0
3         1.0          1  GREY    0    0    0    0
4         1.0          1  GREY    0    0    0    0
...       ...        ...   ...  ...  ...  ...  ...
43948     0.0          1  GREY    0    0    0    0
43949     0.0          1  GREY    0    0    0    0
43950     0.0          1  GREY    0    0    0    0
43951     0.0          1  GREY    0    0    0    0
43952     0.0          1  GREY    0    0    0    0

[43953 rows x 16 columns]

In [187]:
blue = ["BLUE FURY", "ICE BLUE", "BRIGADE BLUE", "DARK POWDER BLUE", "DARK MARINA BLUE", "STORM BLUE", "HYDROGEN BLUE", "LIGHT ARMORY BLUE", "ALIEN BLUE RF", "TEAL TINT", "MONO ICE", "BRIGHT CYAN", "UNIVERSITY BLUE"]

In [188]:
for i in blue:
    df['col1']  = np.where(df['col1'] == i, 7, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 7, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 7, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 7, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 7, df['col5'])

In [189]:
blue2 = ["TURQUOISE BLUE", "BLUE", "MARINE BLUE", "NATURAL INDIGO", "REFLECTION", "VIRTUAL SKY", "MALLARD BLUE", "COAST", "HYPER BLUE", "BICOASTAL", "RIFT BLUE", "NEPTUNE BLUE", "BRIGHT SPRUCE", "AQUA", "BLUE FURY", "BLEACHED AQUA", "BATTLE BLUE", "KYANITE", "BLUE QUARTZ", "BLUE OAT", "ARZARETH", "BRIGHT BLUE" ]

In [190]:
for i in blue2:
    df['col1']  = np.where(df['col1'] == i, 7, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 7, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 7, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 7, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 7, df['col5'])

In [191]:
gold = ["METALLIC GOLD", "BRONZE ECLIPSE", "ASPEN GOLD", "SATURN GOLD", "MIDAS GOLD", "UNIVERSITY GOLD", "MIDWEST GOLD", "TOPAZ GOLD"]

In [192]:
for i in gold:
    df['col1']  = np.where(df['col1'] == i, 8, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 8, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 8, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 8, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 8, df['col5'])

In [193]:
grey = ["GREY", "LIGHT SMOKE GREY", "CEMENT GREY", "DARK SMOKE GREY", "TECH GREY", "OIL GREY", "DARK BLUE GREY", "WOLF GREY", "CLEAR", "NEUTRAL GREY", "GRAY", "STEEL GREY", "PHATOM", "RAIN CLOUD", "WARM ALPACA" ]

In [194]:
grey2 = ["LIGHT GREY", "MARBLEHEAD", "CASTLEROCK", "MEDIUM GREY", "CAVE STONE", "COOL GREY", "PHOTON DUST", "ELEPHANT SKIN", "IRON GREY", "VAST GREY", "GREY FOG", "PARTICLE GREY", "STEEPLE GREY", "BELUGA RF", "ASH GREY", "ISRAFIL", "DESERT SAGE", "OPHANI", "QNTM", "ASH STONE", "MOON GRAY", "ZYON", "BARIUM", "MIST STONE",  ]

In [195]:
for i in grey:
    df['col1']  = np.where(df['col1'] == i, 9, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 9, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 9, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 9, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 9, df['col5'])

In [196]:
for i in grey2:
    df['col1']  = np.where(df['col1'] == i, 9, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 9, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 9, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 9, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 9, df['col5'])

In [197]:
orange = ["LASER ORANGE", "STARFISH", "BARELY ORANGE", "VARSITY ORANGE", "ORANGE", "JUPITER", "NEON ORANGE", "DARK BLAZE", "BURNT ORANGE", "ORANGE BLAZE", "RUSH ORANGE", "SPORT SPICE", "DARK CURRY", "ELECTRO ORANGE", "BRIGHT MANGO", "WASH ORANGE", "MONO CLAY", "PERSIMMON ORANGE"]

In [198]:
for i in orange:
    df['col1']  = np.where(df['col1'] == i, 10, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 10, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 10, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 10, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 10, df['col5'])

In [199]:
ivory = ["SAIL", "SHIMMER", "ORANGE QUARTZ", "BRIGHT CRIMSON", "CRIMSON BLISS", "SEA SALT","BEIGE", "BONE", "MOONBEAM", "TIMBERWOLF", "GREIGE", "INCENSE", "TAN", "PALE IVORY", "LIGHT BONE", "FOSSIL STONE", "NET", "CASHMERE", "COCONUT MILK", "CREAM II", "REED", "LIGHT CREAM", "NATURAL IVORY", "LIGHT", "CREAM", "MX OAT", "TAUPE LIGHT", "NATURAL", "ASH PEARL", "YECORAITE RF", "RESIN", "PEPPER", "LINEN", "EGRET", "SAND"]

In [200]:
for i in ivory:
    df['col1']  = np.where(df['col1'] == i, 11, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 11, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 11, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 11, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 11, df['col5'])

In [201]:
multi = ["MULTI COLOR", "MULTI-COLOR"]

In [202]:
for i in multi:
    df['col1']  = np.where(df['col1'] == i, 12, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 12, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 12, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 12, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 12, df['col5'])

In [203]:
brown = ["DARK HAZEL", "TAUPE HAZE", "DESERT MOSS", "BRITISH KHAKI", "LIGHT CHOCOLATE", "BROWN", "BRONZE ECLIPSE", "ACORN", "WHEAT", "RATTAN", "ARCHEO BROWN", "BAROQUE BROWN", "VELVET BROWN", "LIGHT BRITISH TAN", "GUM LIGHT BROWN", "PRALINE", "ENFLAME AMBER", "CLAY BROWN", "MAUVE", "CINDER", "CANDIED GINGER", "LIGHT GUM", "CAPPUCCINO BASE", "TAUPE", "OIL", "DARK EARTH" , "GUM" ]

In [204]:
for i in brown:
    df['col1']  = np.where(df['col1'] == i, 13, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 13, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 13, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 13, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 13, df['col5'])

In [205]:
navy = ["MIDNIGHT NAVY", "OBSIDIAN", "DARK TEAL", "OUTERSPACE", "ECLIPSE", "MAUVE SOLE", "DARK OBSIDIAN", "CIDER", "CONCORD", "MYSTIC NAVY", "INSIGNIA BLUE", "SLATE BLUE", "MINERAL BLUE"]

In [206]:
for i in navy:
    df['col1']  = np.where(df['col1'] == i, 14, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 14, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 14, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 14, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 14, df['col5'])

In [207]:
purple = ["DARK IRIS", "BORDEAUX", "WILD BERRY", "WINE", "RED PLUM", "DARK PURPLE", "COURT PURPLE", "HELIOTROPE", "PURPLE", "PURPLE DUSK", "EGGPLANT", "PLUM DUST"]

In [208]:
for i in purple:
    df['col1']  = np.where(df['col1'] == i, 15, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 15, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 15, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 15, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 15, df['col5'])

In [209]:
off = ["OFF-NOIR"]

In [210]:
for i in off:
    df['col1']  = np.where(df['col1'] == i, 16, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 16, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 16, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 16, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 16, df['col5'])

In [211]:
silver = ["METALLIC SILVER", "SILVER", "LIGHT ALUMINIUM", "PURE PLATINUM", "SILVER LILAC"]

In [212]:
for i in silver:
    df['col1']  = np.where(df['col1'] == i, 17, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 17, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 17, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 17, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 17, df['col5'])

In [213]:
gr = ["NIMBUS CLOUD", "MAGNET", "LIGHT CHALKBOARD"]

In [214]:
for i in gr:
    df['col1']  = np.where(df['col1'] == i, 18, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 18, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 18, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 18, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 18, df['col5'])

In [215]:
godong = ["DARK RUSSET", "DARK CHOCOLATE"]

In [216]:
for i in godong:
    df['col1']  = np.where(df['col1'] == i, 19, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 19, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 19, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 19, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 19, df['col5'])

In [217]:
    df['col1']  = np.where(df['col1'] == "ZEBRA", 20, df['col1'])
    df['col2']  = np.where(df['col2'] == "ZEBRA", 20, df['col2'])
    df['col3']  = np.where(df['col3'] == "ZEBRA", 20, df['col3'])
    df['col4']  = np.where(df['col4'] == "ZEBRA", 20, df['col4'])
    df['col5']  = np.where(df['col5'] == "ZEBRA", 20, df['col5'])

In [218]:
neon = ["ENERGY LIME", "GREEN APPLE", "LIMELIGHT", "BARELY VOLT", "VOLT", "PHOSPHOR"]

In [219]:
for i in neon:
    df['col1']  = np.where(df['col1'] == i, 21, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 21, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 21, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 21, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 21, df['col5'])

In [220]:
blgr = ["LIGHT PETROL", "CITRON"]

In [221]:
for i in blgr:
    df['col1']  = np.where(df['col1'] == i, 22, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 22, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 22, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 22, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 22, df['col5'])

In [222]:
nebl = ["WASHED TEAL", "NOISE AQUA"]

In [223]:
for i in nebl:
    df['col1']  = np.where(df['col1'] == i, 23, df['col1'])
    df['col2']  = np.where(df['col2'] == i, 23, df['col2'])
    df['col3']  = np.where(df['col3'] == i, 23, df['col3'])
    df['col4']  = np.where(df['col4'] == i, 23, df['col4'])
    df['col5']  = np.where(df['col5'] == i, 23, df['col5'])

In [224]:
df.to_csv('colresult.csv', encoding = "utf-8-sig")