In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_excel('final_result.xlsx')

In [52]:
print(df)

             발매일                              제품명     모델번호       발매가   브랜드  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원  뉴발란스
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원  뉴발란스
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원  뉴발란스
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원  뉴발란스
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원  뉴발란스
...          ...                              ...      ...       ...   ...
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   컨버스
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   컨버스
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   컨버스
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   컨버스
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   컨버스

             라인 콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  \
0      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390
1      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860
2      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680
3      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970
4      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260
...         ...     ...   ...              ...        ...     ...       ...
43948  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783
43949  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783
43950  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783
43951  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783
43952  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783

       Unnamed: 12
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
43948          NaN
43949          NaN
43950          NaN
43951          NaN
43952          NaN

[43953 rows x 13 columns]

In [53]:
df['브랜드']  = np.where(df['브랜드'] == '나이키', 1, df['브랜드'])

In [54]:
df['브랜드']  = np.where(df['브랜드'] == '뉴발란스', 3, df['브랜드'])

In [55]:
df['브랜드']  = np.where(df['브랜드'] == '조던', 2, df['브랜드'])

In [56]:
df['브랜드']  = np.where(df['브랜드'] == '아디다스', 4, df['브랜드'])

In [57]:
df['브랜드']  = np.where(df['브랜드'] == '컨버스', 5, df['브랜드'])

In [58]:
print(df)

             발매일                              제품명     모델번호       발매가 브랜드  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3
...          ...                              ...      ...       ...  ..
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5

             라인 콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  \
0      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390
1      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860
2      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680
3      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970
4      뉴발란스 992     NaN  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260
...         ...     ...   ...              ...        ...     ...       ...
43948  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783
43949  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783
43950  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783
43951  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783
43952  컨버스 척 70     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783

       Unnamed: 12
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
43948          NaN
43949          NaN
43950          NaN
43951          NaN
43952          NaN

[43953 rows x 13 columns]

In [59]:
df['라인']  = np.where(df['라인'] == '에어포스', 1, df['라인'])
df['라인']  = np.where(df['라인'] == '에어맥스95', 2, df['라인'])
df['라인']  = np.where(df['라인'] == '에어맥스97', 3, df['라인'])
df['라인']  = np.where(df['라인'] == '에어 베이퍼맥스', 4, df['라인'])
df['라인']  = np.where(df['라인'] == '데이브레이크', 5, df['라인'])
df['라인']  = np.where(df['라인'] == '에어 모어', 6, df['라인'])
df['라인']  = np.where(df['라인'] == '코비', 7, df['라인'])
df['라인']  = np.where(df['라인'] == '블레이저', 8, df['라인'])

In [60]:
df['라인']  = np.where(df['라인'] == '조던1', 9, df['라인'])
df['라인']  = np.where(df['라인'] == '조던3', 10, df['라인'])
df['라인']  = np.where(df['라인'] == '조던4', 11, df['라인'])
df['라인']  = np.where(df['라인'] == '조던5', 12, df['라인'])
df['라인']  = np.where(df['라인'] == '조던6', 13, df['라인'])
df['라인']  = np.where(df['라인'] == '조던11', 14, df['라인'])
df['라인']  = np.where(df['라인'] == '조던13', 15, df['라인'])

In [61]:
df['라인']  = np.where(df['라인'] == '뉴발란스 237', 16, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 327', 17, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 530', 18, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 990', 19, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 991', 20, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 992', 21, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 993', 22, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 1300', 23, df['라인'])
df['라인']  = np.where(df['라인'] == '뉴발란스 2002', 24, df['라인'])

In [62]:
df['라인']  = np.where(df['라인'] == '아디다스 이지', 25, df['라인'])
df['라인']  = np.where(df['라인'] == '아디다스 슈퍼스타', 26, df['라인'])
df['라인']  = np.where(df['라인'] == '컨버스 런스타', 27, df['라인'])
df['라인']  = np.where(df['라인'] == '컨버스 척 70', 28, df['라인'])

In [63]:
print(df)

             발매일                              제품명     모델번호       발매가 브랜드  라인  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
...          ...                              ...      ...       ...  ..  ..
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28

      콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  Unnamed: 12
0         NaN  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390          NaN
1         NaN  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860          NaN
2         NaN  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680          NaN
3         NaN  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970          NaN
4         NaN  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260          NaN
...       ...   ...              ...        ...     ...       ...          ...
43948     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783          NaN
43949     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783          NaN
43950     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783          NaN
43951     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783          NaN
43952     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783          NaN

[43953 rows x 13 columns]

In [64]:
df['month'] = df['발매일'].dt.strftime('%m')

In [65]:
print(df)

             발매일                              제품명     모델번호       발매가 브랜드  라인  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
...          ...                              ...      ...       ...  ..  ..
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28

      콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  \
0         NaN  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390
1         NaN  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860
2         NaN  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680
3         NaN  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970
4         NaN  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260
...       ...   ...              ...        ...     ...       ...
43948     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783
43949     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783
43950     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783
43951     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783
43952     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783

       Unnamed: 12 month
0              NaN    04
1              NaN    04
2              NaN    04
3              NaN    04
4              NaN    04
...            ...   ...
43948          NaN    10
43949          NaN    10
43950          NaN    10
43951          NaN    10
43952          NaN    10

[43953 rows x 14 columns]

In [66]:
df['콜라보 브랜드'] = df['콜라보 브랜드'].fillna(0)

In [67]:
print(df)

             발매일                              제품명     모델번호       발매가 브랜드  라인  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
...          ...                              ...      ...       ...  ..  ..
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28

      콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  \
0           0  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390
1           0  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860
2           0  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680
3           0  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970
4           0  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260
...       ...   ...              ...        ...     ...       ...
43948     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783
43949     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783
43950     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783
43951     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783
43952     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783

       Unnamed: 12 month
0              NaN    04
1              NaN    04
2              NaN    04
3              NaN    04
4              NaN    04
...            ...   ...
43948          NaN    10
43949          NaN    10
43950          NaN    10
43951          NaN    10
43952          NaN    10

[43953 rows x 14 columns]

In [68]:
df1 = df.drop_duplicates(['콜라보 브랜드'], keep = 'first')

In [69]:
print(df1)

             발매일                                          제품명  \
0     2020-04-13              뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드
1288  2021-01-22                       뉴발란스 x 파타 991 메이드 인 UK
6067  2020-07-03                   뉴발란스 x 사이즈? 327 옐로우 그린 오렌지
6345  2021-03-09         뉴발란스 x 카사블랑카 327 아이디얼리스트 모노그램 화이트 그린
6531  2020-11-10                 뉴발란스 x 리바이스 327 네이비 (리바이스 택)
6624  2020-08-29           뉴발란스 x 도쿄 디자인 스튜디오 R_C 1300 말라드 블루
6903  2022-01-26                        뉴발란스 x 제이크루 2002R 인센스
7364  2020-05-01                뉴발란스 x 더블탭스 992 메이드 인 USA 올리브
7457  2020-09-12              뉴발란스 x JJJ자운드 992 메이드 인 USA 그레이
7641  2020-09-12                      뉴발란스 x 패커 992 메이드 인 USA
8008  2020-12-25          뉴발란스 x 키스 992 메이드 인 USA 키쓰마스 라이트 리프
8471  2020-09-21                     뉴발란스 x 디스이즈네버댓 2002R 화이트
8563  2020-10-23               뉴발란스 x 살레헤 벰버리 2002R 피스 비 더 저니
8749  2021-06-05              뉴발란스 x 베이프 2002R 블랙 카모 (스페셜 박스)
9487  2021-08-17               나이키 x 오프화이트 덩크 로우 더 50 - 로트 46
10315 2020-02-29                       나이키 x 트래비스 스캇 SB 덩크 로우
12350 2021-06-05                         나이키 x 프라그먼트 덩크 하이 블랙
12899 2020-12-11                           나이키 x 앰부쉬 덩크 하이 블랙
13636 2020-12-12                       나이키 x 스투시 에어포스 1 로우 파슬
14466 2021-03-06                            나이키 x 클랏 에어맥스 1 넷
15851 2021-07-09        나이키 x 스페이스 잼: 새로운 시대 에어포스 1 '07 컴퓨터 칩
16494 2021-12-12      나이키 x NBA 에어포스 1 '07 LV8 EMB 블랙 앤 칠리 레드
17044 2020-02-29                       나이키 x 트래비스 스캇 SB 덩크 로우
17135 2020-05-26                   나이키 x 벤앤제리스 SB 덩크 로우 청키 덩키
17228 2020-02-08           나이키 x 스트레인지러브 SB 덩크 로우 핑크 (레귤러 박스)
17319 2021-03-04                      나이키 x 슈프림 SB 덩크 로우 민 그린
17412 2020-09-25                      나이키 x 카시나 덩크 로우 80's 버스
17504 2020-12-05               나이키 x 프레임 스케이트 SB 덩크 로우 프로 하비비
17966 2020-07-24               나이키 x 그레이트풀 데드 SB 덩크 로우 옐로우 베어
18059 2020-12-19                나이키 x 션 클리버 SB 덩크 로우 홀리데이 스페셜
19264 2021-08-13  조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루
26245 2021-12-04        조던 1 x 아 마 마니에르 레트로 하이 OG SP 세일 앤 버건디
27252 2021-02-17                      조던 1 x 파리 생제르맹 줌 에어 컴포트
27891 2021-07-31                    나이키 x 사카이 블레이저 로우 아이언 그레이
28168 2021-02-27                      나이키 x 레디메이드 블레이저 미드 화이트
28813 2021-11-27                 나이키 x 사카이 x 카우스 블레이저 로우 팀 레드
31393 2021-12-21               나이키 x FPAR SB 블레이저 로우 QS 쿨 그레이
35355 2021-07-19   컨버스 x 몽클레르 x 프라그먼트 척 70 로우 프레일러 3 인시그니아 블루
35448 2021-06-03                컨버스 x 플레이 꼼데가르송 척 70 로우 블루 쿼츠
35541 2021-10-27                   아디다스 x 션 우더스푼 슈퍼스타 슈퍼어스 블랙
36927 2020-04-14           컨버스 x 피어 오브 갓 에센셜 척 70 하이 내츄럴 2020
37112 2020-09-04               컨버스 x 몽클레르 x 프라그먼트 척 70 로우 화이트
37204 2021-04-12               컨버스 x 킴 존스 척 70 유틸리티 웨이브 하이 블랙
38130 2021-07-30                  컨버스 x 다크쉐도우 터보다크 척 70 하이 블랙
38779 2020-04-14                컨버스 x 피어 오브 갓 에센셜 척 70 하이 그레이
38871 2020-09-08                       아디다스 x 프라다 슈퍼스타 메탈릭 실버
39520 2020-10-22               컨버스 x 펑첸왕 척 70 투인원 내츄럴 아이보리 블랙
40353 2021-05-13                 컨버스 x 키스 해링 런스타 하이크 하이 블랙 레드
40814 2020-09-14                      컨버스 x 골프왕 척 70 하이 트라이패널
40906 2021-11-16              컨버스 x 다크쉐도우 다크스타 척 70 하이 릴리 화이트
41461 2020-11-20                     컨버스 x 브레인 데드 척 70 하이 에그렛
41554 2020-05-28                     컨버스 x 칼하트 WIP 척 70 하이 리뉴
42111 2021-02-06                          컨버스 x 반둘루 척 70 카푸치노
42571 2020-04-23               컨버스 X 스펜서 멕멀렌 아티스트 시리즈 척 70 하이
43399 2021-07-30                        아디다스 x 레고 슈퍼스타 화이트 블랙

                           모델번호       발매가   브랜드     라인       콜라보 브랜드  \
0                        M992GR  259,000원     3     21             0
1288                    M991PAT  297,000원     3     20            파타
6067                   MS327SZ1  128,800원     3     17          사이즈?
6345                   MS327CAB  159,000원     3     17         카사블랑카
6531                   MS327LVA  159,000원     3     17          리바이스
6624                   MS1300TG  169,000원     3     23     도쿄디자인스튜디오
6903                   M2002RWA  173,200원     3     24          제이크루
7364                     M992WT  321,500원     3     21          더블탭스
7457                     M992J2  319,000원     3     21        JJJ자운드
7641                    M992PK1  296,800원     3     21            패커
8008                     M992KL  272,100원     3     21            키스
8471                   ML2002RT  179,000원     3     24       디스이즈네버댓
8563                   ML2002R1  179,000원     3     24       살레헤 벰버리
8749                   M2002RBF  233,400원     3     24           베이프
9487                 DM1602-102  219,000원     1     덩크         오프화이트
10315                CT5053-001  179,000원     1     덩크       트래비스 스캇
12350                DJ0382-600  179,000원     1     덩크         프라그먼트
12899                CU7544-001  219,000원     1     덩크           앰부쉬
13636                CZ9084-200  169,000원     1      1           스투시
14466                DD1870-100  179,000원     1  에어맥스1            클랏
15851                DH5354-001  159,000원     1      1         스페이스잼
16494                DC8874-001  139,000원     1      1           NBA
17044                CT5053-001  179,000원     1     덩크        트래비스스캇
17135                CU3244-100  129,000원     1     덩크         밴앤제리스
17228                CT2552-800  119,000원     1     덩크       스트레인지러브
17319                DH3228-101  136,000원     1     덩크           슈프림
17412                CZ6501-100  129,000원  나이키      덩크           카시나
17504                CT2550-600  136,000원     1     덩크       프레임스케이트
17966                CJ5378-700  129,000원     1     덩크       그레이트풀데드
18059                DC9936-100  129,000원     1     덩크          션클리버
19264                DM7866-140  189,000원     2      9  트래비스스캇/프라그먼트
26245                DO7097-100  239,000원     2      9      아 마 마니에르
27252                DB3610-105  179,000원     2      9        파리생제르맹
27891                DD1877-002   139000원     1      8           사카이
28168                CZ3589-100   189000원     1      8         레디메이드
28813                DM7901-600   169000원     1      8       사카이 카우스
31393                DN3754-001   119000원     1      8          FPAR
35355                   172323C  190,000원     5     28    몽클레르/프라그먼트
35448                   171848C  198,000원     5     28         꼼데가르송
35541                    GX3823  143,000원     4     26        션 우더스푼
36927                   167955C  145,000원     5     28       피어 오브 갓
37112                   169070C  159,000원     5     28  몽클레르 / 프라그먼트
37204                   171257C  189,000원     5     28          킴 존스
38130                   172344C  209,000원     5     28        다크 쉐도우
38779                   168219C  145,000원     5     28      피어 오브 갓
38871  FX4546/2EG321-3L97-F0Q9W  600,000원     4     26           프라다
39520                   169839C  199,000원     5     28           펑첸왕
40353                   171859C  135,000원  컨버스      27         키스 해링
40814                   169910C  139,000원  컨버스      28           골프왕
40906                   172346C  209,000원  컨버스      28         다크쉐도우
41461                   169946C  189,000원  컨버스      28        브레인 데드
41554                   168156C  169,000원  컨버스      28       칼하트 WIP
42111                   169909C  135,000원     5     27           반둘루
42571                   168183C  115,000원     5     28       스펜서 멕멀렌
43399                    GW5270  159,000원     4     26            레고

                                                    색상  \
0                                                 GREY
1288                           DUSTY PINK/LIGHT PETROL
6067                               YELLOW/GREEN/ORANGE
6345                         MUNSELL WHITE/HOLLY GREEN
6531                                 NAVY/INDIGO/WHITE
6624                                MALLARD BLUE/WHITE
6903                                INCENSE/HELIOTROPE
7364                                 OLIVE/GREY/ORANGE
7457                                       BROWN/BLACK
7641                                      YELLOW/CREAM
8008                                         TEAL/GREY
8471                                             WHITE
8563                          BURNT ORANGE/YELLOW/BLUE
8749                                        BLACK/CAMO
9487                                 SAIL/NEUTRAL GREY
10315          BLACK/BLACK-PARACHUTE BEIGE-PETRA BROWN
12350                                 WINE/BLACK-WHITE
12899                          WHITE/BLACK/SPRUCE AURA
13636                      FOSSIL STONE/SAIL/OFF WHITE
14466                        NET/DEEP RED-ORANGE BLAZE
15851                      BLACK/LIGHT BLUE FURY/BLACK
16494                    BLACK/CHILE RED-GREY FOG-SAIL
17044          BLACK/BLACK-PARACHUTE BEIGE-PETRA BROWN
17135         WHITE/LAGOON PULSE/BLACK/UNIVERSITY GOLD
17228                                   PINK/RED-WHITE
17319                   WHITE/METALLIC GOLD/MEAN GREEN
17412             SAIL/UNIVERSITY GOLD-INDUSTRIAL BLUE
17504                CHILE RED/WHITE/LUCKY GREEN/BLACK
17966                            OPTI YELLOW/BLUE FURY
18059     ICE BLUE/WHITE-METALLIC GOLD-METALLIC SILVER
19264                         SAIL/BLACK/MILITARY BLUE
26245                              SAIL/BURGUNDY CRUSH
27252      WHITE/BLACK-PSYCHIC PURPLE-HYPER PINK STYLE
27891                            IRON GREY/WHITE/WHITE
28168                WHITE/VAST GREY-VOLT-TOTAL ORANGE
28813                          TEAM RED/HOT LAVA-WHITE
31393                              COOL GREY/WOLF GREY
35355                        INSIGNIA BLUE/EGRET/BLACK
35448                                      BLUE QUARTZ
35541                     CORE BLACK/BOLD YELLOW/GREEN
36927                                          NATURAL
37112                                WHITE/BLACK/WHITE
37204                                            BLACK
38130                                            BLACK
38779                                       GREY/WHITE
38871  SILVER METALLIC/SILVER METALLIC/SILVER METALLIC
39520                              BLACK/NATURAL IVORY
40353                                  BLACK/WHITE/RED
40814                                  BLUE/YELLOW-RED
40906                                       LILY WHITE
41461                         EGRET/BLACK/FRENCH ROAST
41554                                 BROWN/BLACK/NAVY
42111                                  CAPPUCCINO BASE
42571                                EGRET/MULTI-EGRET
43399                                      WHITE/BLACK

                        sns 검색 키워드         날짜  리셀가능여부       검색량  Unnamed: 12  \
0                       뉴발란스992그레이 2020-04-13     1.0  2.072390          NaN
1288                     뉴발란스파타991 2021-01-22     2.0  0.082892          NaN
6067                    뉴발란스사이즈327 2020-07-03     1.0  0.000000          NaN
6345                  뉴발란스카사블랑카327 2021-03-09     1.0  0.082892          NaN
6531                      뉴발란스리바이스 2020-11-10     1.0  0.193414          NaN
6624                 뉴발란스도쿄디자인스튜디오 2020-08-29     1.0  0.069076          NaN
6903                      뉴발란스제이크루 2022-01-26     1.0  0.096707          NaN
7364                      뉴발란스더블탭스 2020-05-01     2.0  0.124338          NaN
7457                    뉴발란스JJJ자운드 2020-09-12     2.0  0.082891          NaN
7641                        뉴발란스패커 2020-09-12     2.0  0.069077          NaN
8008                      Kith뉴발란스 2020-12-25     2.0  0.069077          NaN
8471               뉴발란스디스이즈네버댓2002 2020-09-21     1.0  0.069076          NaN
8563                    뉴발란스살레헤벰버리 2020-10-23     1.0  0.082892          NaN
8749                       뉴발란스베이프 2021-06-05     2.0  0.069076          NaN
9487                     오프화이트덩크로우 2021-08-17     2.0  0.524994          NaN
10315                나이키트래비스스캇덩크로우 2020-02-29     2.0  0.069076          NaN
12350               나이키프라그먼트덩크하이블랙 2021-06-05     1.0  0.151968          NaN
12899                 나이키앰부쉬덩크하이블랙 2020-12-11     2.0  0.069076          NaN
13636               나이키스투시에어포스로우파슬 2020-12-12     2.0  0.069076          NaN
14466                    나이키클랏에어맥스 2021-03-06     1.0  0.303937          NaN
15851                 나이키스페이스잼에어포스 2021-07-09     0.0  0.110523          NaN
16494         나이키nba에어포스emb블랙앤칠리레드 2021-12-12     1.0  0.000000          NaN
17044              나이키트래비스스캇sb덩크로우 2020-02-29     2.0  0.069076          NaN
17135                      나이키청키덩키 2020-05-26     2.0  0.345379          NaN
17228               나이키스트레인지러브덩크로우 2020-02-08     2.0  0.082892          NaN
17319                   나이키슈프림덩크로우 2021-03-04     2.0  0.069076          NaN
17412                   나이키카시나덩크로우 2020-09-25     2.0  0.069076          NaN
17504                   나이키프레임스케이트 2020-12-05     2.0  0.069076          NaN
17966                   나이키그레이트풀데드 2020-07-24     2.0  0.082897          NaN
18059                      나이키션클리버 2020-12-19     2.0  0.082897          NaN
19264                  조던1트래비스스캇로우 2021-08-13     2.0  0.069074          NaN
26245                 조던1아마마니에르레트로 2021-12-04     2.0  0.069076          NaN
27252                    조던1파리생제르맹 2021-02-17     2.0  0.082892          NaN
27891                 나이키사카이블레이저로우 2021-07-31     1.0  5.692131          NaN
28168                 나이키레디메이드블레이저 2021-02-27     2.0  0.069076          NaN
28813              나이키사카이카우스블레이저로우 2021-11-27     1.0  0.069076          NaN
31393                   블레이저로우쿨그레이 2021-12-21     0.0  0.000000          NaN
35355               컨버스 몽클레르 프라그먼트 2021-07-19     1.0  0.069076          NaN
35448               컨버스 꼼데가르송 척 70 2021-06-03     1.0  0.110523          NaN
35541          아디다스 션 우더스푼 슈퍼스타 블랙 2021-10-27     0.0  0.000000          NaN
36927         컨버스 피어 오브 갓 에센셜 척 70 2020-04-14     1.0  0.082892          NaN
37112               컨버스 몽클레르 프라그먼트 2020-09-04     1.0  0.069076          NaN
37204                    컨버스킴존스척70 2021-04-12     1.0  0.069076          NaN
38130                 컨버스다크쉐도우터보다크 2021-07-30     1.0  0.082892          NaN
38779  컨버스 피어 오브 갓 에센셜 척 70 하이 그레이 2020-04-14     1.0  0.082892          NaN
38871                아디다스 프라다 슈퍼스타 2020-09-08     1.0  0.069076          NaN
39520              컨버스 펑첸왕 투인원 척70 2020-10-22     1.0  0.165783          NaN
40353            컨버스 키스 해링 런스타 하이크 2021-05-13     1.0  0.110523          NaN
40814                 컨버스 골프왕 척 70 2020-09-14     1.0  0.069076          NaN
40906               컨버스 다크쉐도우 다크스타 2021-11-16     0.0  0.193414          NaN
41461              컨버스 브레인 데드 척 70 2020-11-20     1.0  0.069076          NaN
41554                 컨버스 칼하트 척 70 2020-05-28     1.0  0.069076          NaN
42111                 컨버스 반둘루 척 70 2021-02-06     0.0  0.069076          NaN
42571          컨버스 스펜서 멕멀렌 척 70 하이 2020-04-23     0.0  0.000000          NaN
43399                 아디다스 레고 슈퍼스타 2021-07-30     1.0  0.096707          NaN

      month
0        04
1288     01
6067     07
6345     03
6531     11
6624     08
6903     01
7364     05
7457     09
7641     09
8008     12
8471     09
8563     10
8749     06
9487     08
10315    02
12350    06
12899    12
13636    12
14466    03
15851    07
16494    12
17044    02
17135    05
17228    02
17319    03
17412    09
17504    12
17966    07
18059    12
19264    08
26245    12
27252    02
27891    07
28168    02
28813    11
31393    12
35355    07
35448    06
35541    10
36927    04
37112    09
37204    04
38130    07
38779    04
38871    09
39520    10
40353    05
40814    09
40906    11
41461    11
41554    05
42111    02
42571    04
43399    07

In [70]:
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '파타', 1, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '사이즈?', 2, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '카사블랑카', 3, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '리바이스', 4, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '도쿄디자인스튜디오', 5, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '제이크루', 6, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '더블탭스', 7, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == 'JJJ자운드', 8, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '패커', 9, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '키스', 10, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '디스이즈네버댓', 11, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '살레헤 벰버리', 12, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '베이프', 13, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '오프화이트', 14, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '트래비스 스캇', 15, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '크래비스스캇', 15, df['콜라보 브랜드'])

In [71]:
print(df)

             발매일                              제품명     모델번호       발매가 브랜드  라인  \
0     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
1     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
2     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
3     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
4     2020-04-13  뉴발란스 992 메이드 인 USA 그레이 - D 스탠다드   M992GR  259,000원   3  21
...          ...                              ...      ...       ...  ..  ..
43948 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43949 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43950 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43951 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28
43952 2021-10-12           컨버스 x 펑첸왕 척 70 투인원 그레이  171838C  209,000원   5  28

      콜라보 브랜드    색상       sns 검색 키워드         날짜  리셀가능여부       검색량  \
0           0  GREY       뉴발란스992그레이 2020-04-13     1.0  2.072390
1           0  GREY       뉴발란스992그레이 2020-04-14     1.0  1.961860
2           0  GREY       뉴발란스992그레이 2020-04-15     1.0  1.975680
3           0  GREY       뉴발란스992그레이 2020-04-16     1.0  1.878970
4           0  GREY       뉴발란스992그레이 2020-04-17     1.0  1.782260
...       ...   ...              ...        ...     ...       ...
43948     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-08     0.0  0.165783
43949     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-09     0.0  0.165783
43950     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-10     0.0  0.165783
43951     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-11     0.0  0.165783
43952     펑첸왕  GREY  컨버스 펑첸왕 투인원 척70 2022-01-12     0.0  0.165783

       Unnamed: 12 month
0              NaN    04
1              NaN    04
2              NaN    04
3              NaN    04
4              NaN    04
...            ...   ...
43948          NaN    10
43949          NaN    10
43950          NaN    10
43951          NaN    10
43952          NaN    10

[43953 rows x 14 columns]

In [72]:
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '프라그먼트', 16, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '앰부쉬', 17, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '스투시', 18, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '클랏', 19, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '스페이스잼', 20, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == 'NBA', 21, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '밴앤제리스', 22, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '스트레이지러브', 23, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '슈프림', 24, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '카시나', 25, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '그레이트풀데드', 26, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '션클리버', 27, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '트래비스스캇/프라그먼트', 28, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '아 마 마니에르', 29, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '파리생제르맹', 30, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '사카이', 31, df['콜라보 브랜드'])

In [73]:
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '레디메이드', 32, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '사카이 카우스', 33, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == 'FPAR', 34, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '몽클레르 / 플라그먼트', 35, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '킴 존스', 36, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '다크 쉐도우', 37, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '다크쉐도우', 37, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '피어 오브 갓', 38, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '프라다', 39, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '펑첸왕', 40, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '키스 해링', 41, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '골프왕', 42, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '브레인 데드', 43, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '칼하트 WIP', 44, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '반둘루', 45, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '스펜서 멕멀렌', 46, df['콜라보 브랜드'])
df['콜라보 브랜드']  = np.where(df['콜라보 브랜드'] == '레고', 47, df['콜라보 브랜드'])

In [74]:
df.to_csv('semi.csv', encoding = "utf-8-sig")