In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv('colchange3.csv', encoding = 'utf-8')

In [11]:
print(df)

          발매가  라인  콜라보  month  color_num  col1  col2  col3  col4  col5  day  \
0      259000  21    0      4          1     9     0     0     0     0    0
1      259000  21    0      4          1     9     0     0     0     0    1
2      259000  21    0      4          1     9     0     0     0     0    2
3      259000  21    0      4          1     9     0     0     0     0    3
4      259000  21    0      4          1     9     0     0     0     0    4
...       ...  ..  ...    ...        ...   ...   ...   ...   ...   ...  ...
43948  209000  28    0     10          1     9     0     0     0     0   88
43949  209000  28    0     10          1     9     0     0     0     0   89
43950  209000  28    0     10          1     9     0     0     0     0   90
43951  209000  28    0     10          1     9     0     0     0     0   91
43952  209000  28    0     10          1     9     0     0     0     0   92

       nike  jordan  newbalance  adidas  converse  콜라보유무  type
0         0       0           1       0         0      0     1
1         0       0           1       0         0      0     1
2         0       0           1       0         0      0     1
3         0       0           1       0         0      0     1
4         0       0           1       0         0      0     1
...     ...     ...         ...     ...       ...    ...   ...
43948     0       0           0       0         1      1     0
43949     0       0           0       0         1      1     0
43950     0       0           0       0         1      1     0
43951     0       0           0       0         1      1     0
43952     0       0           0       0         1      1     0

[43953 rows x 18 columns]

In [12]:
df = df[(df['day'] == 1)]
df = df.sample(frac=1).reset_index(drop=True)
X = df[['콜라보유무', 'color_num', 'newbalance', 'converse', 'nike', 'adidas', 'jordan', '라인', '콜라보', 'col1', 'col2', 'col3', 'col4', 'col5', '발매가', 'month']]
Y = df[['type']]

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scale_X = scaler.fit_transform(X)
scale_X  = np.asarray(scale_X).astype(np.float64)

In [14]:
train_x, test_x, train_y, test_y = train_test_split(scale_X , Y, test_size = 0.4, random_state = 1)

In [15]:
print(train_x[3])

[-0.52153619  0.49146807 -0.5150262  -0.30665404 -0.77156835 -0.37569712
  1.95401684 -0.84194934 -0.29839755 -0.85808556  1.45157918  1.88832527
 -0.33351898 -0.07955573 -0.8670614   0.14664464]

In [16]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(multi_class = "multinomial", solver = "lbfgs", C = 10)
model.fit(train_x, train_y)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(C=10, multi_class='multinomial')

In [17]:
print(model.score(train_x, train_y))

0.7412587412587412

In [18]:
model.coef_[0]

array([ 0.17886373,  0.06963908, -0.04027577, -0.22340804,  0.05039864,
       -0.06245553,  0.18543126,  0.34718591,  0.20789797, -0.01530044,
       -0.02774572, -0.17652195, -0.03857877, -0.27740858,  0.01814583,
        0.01200784])